<!DOCTYPE html>
<html ng-app="TUT">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="radu.cugut@gmail.com">

  <title>TM Bus :: Management</title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='//fonts.googleapis.com/css?family=Open+Sans:700,400|Schoolbell' rel='stylesheet' type='text/css'>

  <%= content_for :before_stylesheets if content_for(:before_stylesheets) %>
  <%= stylesheet_link_tag "manage", media: "all" %>
  <%= content_for :stylesheets if content_for?(:stylesheets) %>

  <%= csrf_meta_tags %>
</head>

<body>


<%= yield %>



<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery#{Rails.env.production? ? '.min' : ''}.js",
                           "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/jquery-ui#{Rails.env.production? ? '.min' : ''}.js",
                           "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap#{Rails.env.production? ? '.min' : ''}.js",
                           "//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular#{Rails.env.production? ? '.min' : ''}.js",
                           "//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui#{Rails.env.production? ? '.min' : ''}.js",
                           "//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.2.0/ui-bootstrap-tpls#{Rails.env.production? ? '.min' : ''}.js",
                           "//cdnjs.cloudflare.com/ajax/libs/leaflet/0.5.1/leaflet#{Rails.env.production? ? '.min' : ''}.js",
                           debug: Rails.env.development? %>

<%= include_gon(init: true) %>

<%= content_for :before_javascripts if content_for?(:before_javascripts) %>

<%= javascript_include_tag "manage", debug: Rails.env.development? %>

<%= content_for :javascripts if content_for?(:javascripts) %>


<% if false && Rails.env.development? %>
  <div style="clear: both; width: 100%; margin-top: 50px; margin-bottom: 20px">
    <hr />
    <%= debug(params) %>
    <hr />
    <%= debug(session) %>
    <br />
  </div>
<% end %>

</body>
</html>
